@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

header {
  padding: 3rem;
}

main {
  padding: 0 3rem;
}

.add-area form {
  width: 180px;
  background-color: rgb(233, 255, 255);
  padding: 2rem;
  margin-bottom: 1rem;
}

.add-area input {
  display: block;
  width: 100%;
}